<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500&display=swap" rel="stylesheet">
    <title>Alarms Edit</title>
</head>
<body class="p-3 mb-5 rounded" style="background-image: url(\\static\\img\\clocks.jpg);">
    <div class="d-flex flex-row justify-content-between align-items-center col-12 bannerBG">
        <h1 class="text-light mx-2">Welcome to Alarm Breaks</h1>
        <div class="d-flex flex-row justify-content-around align-items-center">
            <a class="btn btn-primary mx-2" href="/alarms">Dashboard</a>
            <a class="btn btn-primary mx-2" href="/alarms/account">Account Info</a>
            <a class="btn btn-primary mx-2" href="/alarms/take_breaks">Take Breaks Info</a>
            <a class="btn btn-primary mx-2" href="/logout">Log Out</a>
        </div>
    </div>
    <form action="/alarms/update" method="post" class="addEditBG">
        <h4 class="mx-2">Edit Alarm {{alarm.alarm_name}}</h4>
        <div class="bg-danger">
            {% with messages = get_flashed_messages(category_filter=['create']) %}
                {% if messages %}
                <h2>Invalid</h2>
                    {% for message in messages %}
                        <h4>{{message}}</h4>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <input type="hidden" name="id" value="{{alarm.id}}">
        <div class="form-group col-5 my-3">
            <label for="alarm_name">Alarm Name:</label>
            <input class="form-control" type="text" name="alarm_name" id="alarm_name" value="{{alarm.alarm_name}}">
        </div>
        <div class="form-group col-5 my-3">
            <label for="hour">Hour:</label>
            <input class="form-control" type="text" name="hour" id="hour" value="{{alarm.hour}}">
        </div>
        <div class="form-group col-5 my-3">
            <label for="minute">Minute:</label>
            <input class="form-control" type="text" name="minute" id="minute" value="{{alarm.minute}}">
        </div>
        <div class="form-group col-5 my-3">
            <label for="ampm">am or pm:</label>
            <select class="mb-3" name="ampm" id="ampm">
                <option value="{{alarm.ampm}}">{{alarm.ampm}}</option>
                <option value="am">am</option>
                <option value="pm">pm</option>
            </select>
        </div>
        <input class="btn btn-success"  type="submit" value="Update">
    </form>
    <div class=" p-2 text-center bannerBG">
        <a class="btn btn-warning mx-2" href="/alarms/contact">Contact Us</a>
    </div>
</body>
</html>